<ion-header>
  <ion-toolbar class="toolbar">
    <div style="text-align: center;">Hola, Bryan</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="start-row">
    <ion-col class="ion-text-start ion-padding">Infracciones <div class="hr"></div>
    </ion-col>
    <ion-col class="ion-text-end ion-padding">{{dateToday}}</ion-col>
  </ion-row>

  <ion-row>
    <ion-card>
      <ion-card-header color="white" class="ion-text-start">
        <ion-col class="ion-text-start">
          <ion-text>08:00 AM</ion-text>
        </ion-col>
        <ion-col>
          <ion-text style="padding-left:7rem;">10/12/2002</ion-text>
        </ion-col>
      </ion-card-header>
      <ion-card-content class="information-card">
        <ion-row>
          <ion-col>Bryan Bocio</ion-col>
          <ion-col>402-3333729-0</ion-col>
          <div class="card-hr"> </div>
         
          
        </ion-row>
        <ion-row>
          <ion-col>G180765</ion-col>
          <div class="card-hr"> </div>
        </ion-row>
        <ion-row>
          <ion-col>Violación luz roja</ion-col>
          <div class="card-hr"> </div>
        </ion-row>
        <ion-row>
          <div class="btn-details-div">
            <ion-col>
              <ion-button class="btn-details">Ver detalles</ion-button>
            </ion-col>
          </div>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card>
      <ion-card-header color="white" class="ion-text-start">
        <ion-col class="ion-text-start">
          <ion-text>08:00 AM</ion-text>
        </ion-col>
        <ion-col>
          <ion-text style="padding-left:7rem;">10/12/2002</ion-text>
        </ion-col>
      </ion-card-header>
      <ion-card-content class="information-card">
        <ion-row>
          <ion-col>Bryan Bocio</ion-col>
          <ion-col>402-3333729-0</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>G180765</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Violación luz roja</ion-col>
         
        </ion-row>
        <ion-row>
          <div class="btn-details-div">
            <ion-col>
              <ion-button class="btn-details">Ver detalles</ion-button>
            </ion-col>
          </div>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>


</ion-content>